<footer class="footer">
  
  <div class="logo pt-3">
    <a href="https://www.emmsa.net" target="_blank">
      <img height="50" src="assets/logo_EMMSA.jpg" alt="EMMSA">
    </a>
  </div>

  <p class="copyright">Copyright © 2023 EMMSA IT Services. All rights reserved.</p>

  <div>
    <h5 class="pt-3">Contact us:</h5>
    <ul>
      <li>
        <i class="pi pi-fw pi-phone"></i> +54 11 4961-5445
      </li>
      <li>
        <a class="link" href="https://www.linkedin.com/company/emmsaitservices/" target="_blank">
          <i class="k-icon k-i-linkedin-box pb-1"></i>
          <span> Linkedin</span>
        </a>
      </li>
    </ul>
    
  </div>

</footer>