<footer class="footer">
  
  <div class="logo pt-3">
    <a href="https://www.emmsa.net" target="_blank">
      <img height="50" src="assets/logo_EMMSA.jpg" alt="EMMSA">
    </a>
  </div>

  <p class="copyright">Copyright © 2023 EMMSA IT Services. All rights reserved.</p>

  <div>
    <h3>Contact us:</h3>
    <p>
      <i class="pi pi-fw pi-phone"></i> +54 11 4961-5445
    </p>
    <p>
      <a class="link" href="https://www.linkedin.com/company/emmsaitservices/" target="_blank">
        <i class="pi pi-fw pi-linkedin" style="color:#0072b1;"></i>
        <span> Linkedin</span>
      </a>
    </p>
  </div>

</footer>