@import "../../../sass_variables.scss";

footer {
  display: flex;
  justify-content: space-between;
  //background-color: var(--bs-gray-100);
  background-color: $kendo-base-bg;
  color: $kendo-base-text;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
}

a {
  color: var(--text-color);
}

.copyright {
  align-self: center;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.k-i-linkedin-box {
  color: #0072b1;
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: start;
  }

  .copyright {
    align-self: start;
    order: 5;
  }

}