.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--base-bg);
  overflow-x: hidden;
  transition: width 0.5s;
  border: 1px solid var(--base-border);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-bg);
  color: var(--base-text);
}

.menu-item {
  display: flex;
  align-items: flex-end;
  height: 3rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  transition: width 0.3s;
  color: var(--base-text);
}

.item-text {
  vertical-align: middle;
}

.menu-item:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
}

.selected {
  background-color: var(--selected-bg);
  color: var(--selected-text);
}

.selected:hover {
  background-color: var(--selected-hover-bg);
}