<div #mySidebar id="mySidebar" class="sidebar">
  <div class="sidebar-header">
    <a routerLink=""><img src="assets/logo-xs.png" height="50" alt="logo" /></a>
    <span *ngIf="isSidebarExpanded$ | async" class="fs-4 fw-bold">Siemens</span>
  </div>
  <div class="menu-items mt-4">
    <div class="menu-item" *ngFor="let item of menuItems">
      <a [routerLink]="[item.path]"><i class="k-icon {{item.icon}}"></i><span *ngIf="isSidebarExpanded$ | async"> {{item.text}}</span></a>
    </div>
  </div>

</div>