.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bs-gray-100);
  overflow-x: hidden;
  transition: 0.5s;
  border: 1px solid var(--bs-gray-200);
}

.sidebar a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-gray-100);
}

.menu-item {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}