<header class="header">
  <p-menubar [model]="menuItems" [autoZIndex]="false">
    <ng-template pTemplate="start">
      <button pButton type="button" class="p-button-secondary p-button-text mr-2 mb-1" (click)="toggleSidebar()"
        icon="pi pi-bars"></button>
      <a routerLink=""><img src="assets/logo-xs.png" width="37" alt="logo" /></a> 
      <div class="appname">
        <span class="first-part">Mika</span>
        <span class="last-part">NET</span>
      </div>
    </ng-template>
    
    <span style="color: rgba(0, 0, 0, 0.5);">Arribas, Federico</span>
  </p-menubar>
</header>