<div id="grdContractPrice">
  <kendo-grid [data]="gridData$ | async" [group]="group" class="mt-3" (add)="addHandler()" [loading]="(loading$ | async)!">

    <ng-template kendoGridToolbarTemplate>
      <kendo-grid-spacer></kendo-grid-spacer>
      <button kendoGridAddCommand icon="plus" themeColor="primary">Add</button>
    </ng-template>

    <kendo-grid-column>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <button kendoButton icon="track-changes" themeColor="primary" title="Edit" (click)="editHandler(dataItem.Id)"></button>
        <button class="ms-1" kendoButton icon="delete" themeColor="error" title="Delete" (click)="deleteHandler(dataItem.Id)"></button>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [width]="200" field="ServiceTypeName" title="Service type" [hidden]="true"></kendo-grid-column>
    <kendo-grid-column [width]="200" field="CurrencyName" title="Currency" [hidden]="true"></kendo-grid-column>
    <kendo-grid-column [width]="200" field="ApplyByWTG" title="Apply by WTG">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.ApplyByWTG ? 'Yes' : 'No' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="200" field="Period" title="Period"></kendo-grid-column>
    <kendo-grid-column [width]="200" field="Price" title="Price">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.Price | currency }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="300" field="Total" title="Total">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ dataItem.Total | currency }}</span>
      </ng-template>
      <ng-template kendoGridGroupHeaderColumnTemplate let-aggregates="aggregates">
        <span> Sum: {{ aggregates.Total.sum | currency }} </span>
      </ng-template>

      <ng-template kendoGridFooterTemplate>
        <span *ngIf="totalSumFooter && totalSumFooter['Total']"> Sum: {{totalSumFooter["Total"].sum | currency }}
        </span>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridLoadingTemplate>
      <div class="k-loading-color"></div>
      <div class="loading-container">
        <kendo-loader type="converging-spinner" size="large"></kendo-loader>
      </div>
    </ng-template>

  </kendo-grid>
</div>

<app-project-contract-price-form #form [projectId]="projectId" [model]="formItem" [isNew]="isNew" (saveCompleted)="onSaveCompleted()">
</app-project-contract-price-form>

<kendo-dialog title="Please confirm" *ngIf="showDeleteDialog" (close)="closeDeleteDialog()"
  [minWidth]="250" [width]="400">
  <p class="m-3 text-center">
    Are you sure you want to delete the contract price?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeleteDialog()">No</button>
    <button kendoButton (click)="deleteContractPrice()" themeColor="primary">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>