.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// content
.content-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

// footer
app-footer,
app-navbar {
  flex: 0 0 50px;
}

#main {
  transition: margin-left .5s;
}