.toolbar {
  display: flex;
  width: 100%;
  background-color: var(--base-bg);
  border-bottom: inset;
  border-bottom-width: 1px;
  border-color: var(--base-border);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--base-text);
  height: 50px;
}

.appname {
  font-size: 1.625rem;
  font-weight: bold;
  align-self: center;
  margin-left: 1rem;

  .first-part {
    color: #0f5366;
    text-decoration: underline;
    text-decoration-color: #0f5366;
  }

  .last-part {
    color: #5f9ab3;
    text-decoration: underline;
    text-decoration-color: #5f9ab3;
  }
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--base-bg);
  right: 0;
  min-width: 160px;
  border: 1px solid var(--base-border);
  padding: 0.5rem;
  z-index: 1;
  vertical-align: middle;
}

.item-icon {
  font-size: 1rem;
  vertical-align: middle;
}