.toolbar {
  display: flex;
  width: 100%;
  background-color: var(--bs-gray-100);
  border-bottom: inset;
  border-bottom-width: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--bs-gray-600);
  height: 50px;
}

.appname {
  font-size: 1.625rem;
  font-weight: bold;
  align-self: center;
  margin-left: 1rem;

  .first-part {
    color: #0f5366;
    text-decoration: underline;
    text-decoration-color: #0f5366;
  }

  .last-part {
    color: #5f9ab3;
    text-decoration: underline;
    text-decoration-color: #5f9ab3;
  }
}