$theme-type: light;

@import "./sass_variables.scss";  
@import "../node_modules/@progress/kendo-theme-material/scss/all.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  // base colors
  color-scheme: light;
  --app-bg: #{$kendo-app-bg};
  --base-bg: var(--bs-gray-100);
  --hover-bg: #{$kendo-hover-bg};
  --hover-bg-solid: #eeeff0;
  --selected-bg: #{$kendo-selected-bg};
  --selected-hover-bg: #{k-color-darken($kendo-selected-bg, 7.5%)};
  --app-text: #{$kendo-app-text};
  --base-text: #{$kendo-base-text};
  --hover-text: #{$kendo-hover-text};
  --selected-text: #{$kendo-selected-text};
  --base-border: #{$kendo-base-border};
  //------------------------
  // specific colors
  --grid-success-record: var(--mat-green-300);
  --grid-error-record: var(--mat-red-300);
  --card-bg: var(--app-bg);
}