body {
  font-family: Roboto, sans-serif !important;
  background-color: var(--app-bg) !important;
}

.main-content {
  padding: 0.5rem;
}

.report-toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  padding: 1rem;
  border: 1px solid var(--base-border);
  border-radius: 0.25rem;
  background-color: var(--base-bg);
  color: var(--base-text);
}

.report-title {
  font-size: 1.375rem;
}

.cursor-pointer {
  cursor: pointer;
}

//Kendo overrides

.k-pager {
  font-size: 0.75rem !important;
  padding-block: 0rem !important;
}

.k-pager-numbers {
  .k-button-md {
    font-size: 0.6rem !important;
  }
}

kendo-expansionpanel {
  border-radius: 0.25rem;
  border-color: var(--base-border) !important;
  background-color: var(--base-bg) !important;

  .k-expander-header {
    padding: 0.5rem;
    background-color: var(--base-bg);
    color: var(--base-text);
  }

  .k-expander-header:hover {
    background-color: var(--hover-bg);
    color: var(--hover-text);
  }

  .k-expander-content {
    padding: 1rem;
    background-color: var(--app-bg);
    color: var(--base-text);
  }
}

kendo-card {
  background-color: var(--card-bg) !important;
}

.k-step-label, .k-step-text {
  max-width: 9.375rem !important;
}

.k-notification-error {
  color: white;
  background-color: var(--mat-red-700);
  border-color: var(--mat-red-700);
}

.k-notification-success {
  color:white;
  background-color: var(--mat-green);
  border-color: var(--mat-green);
}

.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}