* {
  box-sizing: border-box;
}

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);

  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  flex: 0 0 50px;
}

.content-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 1;
}

.content-body .content {
  flex-grow: 1;
  overflow: auto;
}

.main-content {
  padding: 0.5rem;
}

.report-title {
  font-size: 1.375rem;
}